<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/DefaultLayout">

<th:block layout:fragment="contentStyle">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/styles/page/user/User-form.css}">
</th:block>

<div layout:fragment="content" id="userFormContentWrap">

    <div id="formExplain">
        <div class="formExplainText">
            맞춤제작을 위해서 &nbsp
        </div>
        <div class="formExplainText">
            몇가지만 질문드릴게요!
        </div>
    </div>
    <form action="" method="post">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="question">
                        학과가 어디신가요...?
                    </div>
                    <div class="departSet">
                        <div class="depart" id="depart0" onclick="selectDepart(this, 0)">컴퓨터공학</div>
                        <div class="depart" id="depart1" onclick="selectDepart(this, 1)">소프트웨어공학</div>
                        <div class="depart" id="depart2" onclick="selectDepart(this, 2)">IT경영</div>
                        <div class="depart" id="depart3" onclick="selectDepart(this, 3)">산업경영</div>
                        <div class="depart" id="depart4" onclick="selectDepart(this, 4)">게임공학</div>
                        <div class="depart" id="depart5" onclick="selectDepart(this, 5)">엔터테인먼트컴퓨팅</div>
                        <div class="depart" id="depart6" onclick="selectDepart(this, 6)">기계공학</div>
                        <div class="depart" id="depart7" onclick="selectDepart(this, 7)">기계설계공학</div>
                        <div class="depart" id="depart8" onclick="selectDepart(this, 8)">메카트로닉스공학</div>
                        <div class="depart" id="depart9" onclick="selectDepart(this, 9)">임베디드시스템</div>
                        <div class="depart" id="depart10" onclick="selectDepart(this, 10)">산업디자인공학</div>
                        <div class="depart" id="depart11" onclick="selectDepart(this, 11)">미디어디자인공학</div>
                        <div class="depart" id="depart12" onclick="selectDepart(this, 12)">에너지·전기공학</div>
                        <div class="depart" id="depart13" onclick="selectDepart(this, 13)">전자공학</div>
                        <div class="depart" id="depart14" onclick="selectDepart(this, 14)">나노반도체공학</div>
                        <div class="depart" id="depart15" onclick="selectDepart(this, 15)">신소재공학</div>
                        <div class="depart" id="depart16" onclick="selectDepart(this, 16)">생명화학공학</div>
                    </div>
                    <input type="hidden" id="inputDepart" name="depart" value="">

                </div>
                <div class="swiper-slide">
                    <div class="question">
                        학년이 어떻게 되세요??
                    </div>
                    <div class="gradeSet">
                        <div class="gradeSubSet">
                            <div class="grade" id="grade1" onclick="selectGrade(this, 1)"><p>파릇파릇 프레시한</p>
                                <p>1학년!</p></div>
                            <div class="grade" id="grade2" onclick="selectGrade(this, 2)"><p>아직은 놀고싶은</p>
                                <p>2학년!</p></div>
                        </div>
                        <div class="gradeSubSet">
                            <div class="grade" id="grade3" onclick="selectGrade(this, 3)"><p>아직은 놀아도 되는(?)</p>
                                <p>3학년!</p></div>
                            <div class="grade" id="grade4" onclick="selectGrade(this, 4)"><p>마음만은 프레시한</p>
                                <p>4학년!</p></div>
                        </div>
                    </div>
                    <input type="hidden" id="inputGrade" name="grade" value="">
                </div>
                <div class="swiper-slide">
                    <div class="question">
                        부전공, 복수전공을 하시나요?
                    </div>
                    <div class="selectSet">
                        <label class="questionLabel">
                            <div class="labelText">부전공</div>
                            <select name="minor" class="departSelectBox">
                                <option>해당없음</option>
                                <option>컴퓨터공학</option>
                                <option>소프트웨어공학</option>
                                <option>IT경영</option>
                                <option>산업경영</option>
                                <option>게임공학</option>
                                <option>엔터테인먼트컴퓨팅</option>
                                <option>기계공학</option>
                                <option>기계설계공학</option>
                                <option>메카트로닉스공학</option>
                                <option>임베디드시스템</option>
                                <option>산업디자인공학</option>
                                <option>미디어디자인공학</option>
                                <option>에너지·전기공학</option>
                                <option>전자공학</option>
                                <option>나노반도체공학</option>
                                <option>신소재공학</option>
                                <option>생명화학공학</option>
                            </select>
                        </label>

                        <label class="questionLabel">
                            <div class="labelText">복수전공</div>
                            <select name="doubleMajor" class="departSelectBox">
                                <option>해당없음</option>
                                <option>컴퓨터공학</option>
                                <option>소프트웨어공학</option>
                                <option>IT경영</option>
                                <option>산업경영</option>
                                <option>게임공학</option>
                                <option>엔터테인먼트컴퓨팅</option>
                                <option>기계공학</option>
                                <option>기계설계공학</option>
                                <option>메카트로닉스공학</option>
                                <option>임베디드시스템</option>
                                <option>산업디자인공학</option>
                                <option>미디어디자인공학</option>
                                <option>에너지·전기공학</option>
                                <option>전자공학</option>
                                <option>나노반도체공학</option>
                                <option>신소재공학</option>
                                <option>생명화학공학</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="question">
                        엇복학중이신가요?
                    </div>
                    <div class="cosmosSet">
                        <div class="cosmos" id="isCosmosFalse" onclick="selectCosmos(this)">아니오!</div>
                        <div class="cosmos" id="isCosmosTrue" onclick="selectCosmos(this)">예!</div>
                    </div>
                    <input type="hidden" id="inputCosmos" name="isCosmos" value="false">
                </div>
                <div class="swiper-slide">
                    <div class="question">
                        <div class="questionText">
                            준비가 끝났어요!
                        </div>
                        <div class="questionText">
                            이제 시간표를 만들러 가볼까요??
                        </div>
                    </div>
                    <input type="submit" id="submitBtn" value="다음!">
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </form>


</div>

<th:block layout:fragment="contentScript">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script th:src="@{/scripts/page/user/User-form.js}"></script>
</th:block>
</html>