<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/DefaultLayout">

<th:block layout:fragment="contentStyle">
  <link rel="stylesheet" th:href="@{/styles/page/unable-time/Unable-time.css}" >
</th:block>

<div layout:fragment="content" id="unableTimeWrap">
  <div id="tableExplain">
    <div class="tableExplainText">
      이번 학기에 개인적으로 &nbsp
    </div>
    <div class="tableExplainText explainAccent">
      불가능한 시간대를 &nbsp
    </div>
    <div class="tableExplainText">
     체크해주세요!
    </div>
  </div>

  <form>
    <div class="scheduleTableWrap">
      <div class="scheduleTableRow">
        <div class="scheduleTableElement">
          초기화
        </div>
        <div class="scheduleTableElement weekText">
          월
        </div> <!-- 월 -->
        <div class="scheduleTableElement weekText">
          화
        </div> <!-- 화 -->
        <div class="scheduleTableElement weekText">
          수
        </div> <!-- 수 -->
        <div class="scheduleTableElement weekText">
          목
        </div> <!-- 목 -->
        <div class="scheduleTableElement weekText">
          금
        </div> <!-- 금 -->
      </div>
      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">1교시</div>
          <div class="timeText">09:30 ~ 10:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 1교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">2교시</div>
          <div class="timeText">10:30 ~ 11:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 2교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">3교시</div>
          <div class="timeText">11:30 ~ 12:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 3교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">4교시</div>
          <div class="timeText">12:30 ~ 13:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 4교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">5교시</div>
          <div class="timeText">13:30 ~ 14:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 5교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">6교시</div>
          <div class="timeText">14:30 ~ 15:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 6교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">7교시</div>
          <div class="timeText">15:30 ~ 16:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 7교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">8교시</div>
          <div class="timeText">16:30 ~ 17:20</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 8교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">9교시</div>
          <div class="timeText">17:26 ~ 18:15</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 9교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">10교시</div>
          <div class="timeText">18:16 ~ 19:05</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 10교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">11교시</div>
          <div class="timeText">19:06 ~ 19:55</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 11교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">12교시</div>
          <div class="timeText">20:00 ~ 20:50</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 12교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">13교시</div>
          <div class="timeText">20:50 ~ 21:40</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 13교시 -->

      <div class="scheduleTableRow">
        <div class="scheduleTableElement rowStartText">
          <div class="periodText">14교시</div>
          <div class="timeText">21:40 ~ 22:30</div>
        </div>
        <div class="scheduleTableElement">
        </div> <!-- 월 -->
        <div class="scheduleTableElement">
        </div> <!-- 화 -->
        <div class="scheduleTableElement">
        </div> <!-- 수 -->
        <div class="scheduleTableElement">
        </div> <!-- 목 -->
        <div class="scheduleTableElement">
        </div> <!-- 금 -->
      </div> <!-- 14교시 -->

    </div>


  </form>
</div>

<th:block layout:fragment="contentScript">
  <script th:src="@{/scripts/page/unable-time/Unable-time.js}"></script>
</th:block>
</html>