#header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Headerlogo {
    font-family: 'CookieRunOTF-Black';
    font-size: 100pt;
    color: var(--color-middle);
    text-align: center;
}