<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" th:href="@{/styles/Default.css}" >
  <link rel="stylesheet" th:href="@{/styles/fragment/Header.css}" >
  <link rel="stylesheet" th:href="@{/styles/fragment/Footer.css}" >
  <th:block layout:fragment="contentStyle"></th:block>
</th:block>
</html>