<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/DefaultLayout">

<th:block layout:fragment="contentStyle">
  <link rel="stylesheet" th:href="@{/styles/page/home.css}" >
</th:block>

<div layout:fragment="content">
  <h1>나만의 맞춤 시간표를 스케픽으로 스케치해요!</h1>
  <button th:onclick="|location.href = '@{/page/user}'|"> 스케픽 시작하기 </button>

</div>

<th:block layout:fragment="contentScript">
  <script th:src="@{/scripts/page/home.js}"></script>
</th:block>
</html>