#userFormContentWrap {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#formExplain {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
    /*flex-direction: column;*/
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.formExplainText {
    font-family: 'MaplestoryOTFBold';
    color: var(--color-yellow);
    font-size: 25pt;
    display: flex;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
    height: 100%;

    background-color: var(--color-light);
    flex-direction: column;
    min-height: 600px;
    padding: 10px 30px 10px 30px;
}

.question {
    font-family: 'NEXON Lv1 Gothic OTF';
    color: var(--color-dark);
    font-size: 25pt;
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid var(--color-middle);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 40px;
    transition: width .5s;
    border-radius: 5px;
    background: var(--color-dark);
    border: 1px solid transparent;
}

.departSet {
    font-family: 'NEXON Lv1 Gothic OTF';
    display: flex;
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
    /*flex-direction: column;*/
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.depart {
    display: flex;
    width: 160px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 3px;

    color: var(--color-dark);
    border-color: var(--color-dark);

}

.gradeSet {
    font-family: 'NEXON Lv1 Gothic OTF';
    display: flex;
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.gradeSubSet {
    display: flex;
}
.grade {
    display: flex;
    width: 160px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 3px;
    flex-direction: column;

    color: var(--color-dark);
    border-color: var(--color-dark);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-dark);
    top: 50%;
}

